.wizard {
	position: relative;
	background: #fff;
	padding: 64px 58px 0;
	/* height: 548px; */
}

.steps .current-info,
.steps .number {
	display: none;
}

.steps {
	position: absolute;
	right: 42px;
	top: 5px;
	z-index: 9;
}

.steps ul {
	position: relative;
}

.form-row {
	display: flex;
	margin-bottom: 52px;
}

.form-full-col {
    width: 100%;
}
.form-row .form-col {
	width: 45%;
	margin-right: 40px;
}

.form-row .form-col:last-child {
	margin-right: 0;
}

.form-col label {
	color: #333;
	margin-bottom: 7px;
	display: block;
}

.form-holder {
	position: relative;
}

.form-holder i:not(.zmdi-chevron-down) {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	font-size: 17px;
}

.form-holder i.zmdi-chevron-down {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	font-size: 17px;
}

.form-holder.password i {
	cursor: pointer;
}

.form-control {
	height: 42px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	background: none;
	font-size: 21px;
	padding-left: 7px;
	font-weight: 300;
	color: #2a2a2a;
	/* &::-webkit-input-placeholder { 
        color: #333;
    }
    &::-moz-placeholder { 
        color: #333;
    }
    &:-ms-input-placeholder { 
        color: #333;
    }
    &:-moz-placeholder { 
        color: #333;
    } */
}

.form-control:focus {
  border-bottom-color: #ff6a13;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #ff6a13;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-item {
	width: 31.25%;
	display: flex;
	margin-bottom: 21px;
	cursor: pointer;
}

.grid-item .thumb {
	width: 86.04%;
}

.grid-item .heading {
	width: 13.96%;
	text-transform: uppercase;
	font-size: 11px;
	background: #b3b3b3;
	color: #fff;
	writing-mode: tb-rl;
	transform: rotate(-180deg);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	letter-spacing: 1px;
}

.grid-item.active .heading {
	background: #ff6a13;
}

.grid-item:hover img {
	opacity: 0.6;
}

.actions ul {
	display: flex;
	justify-content: space-between;
	margin-top: 76px;
}

.actions ul.mt-7 {
	margin-top: 7px;
}

.actions li a{
  text-decoration: none;
  background: #ff6a13;
  color: #fff;
  padding: 17px 70px;
  width: 220px;
  border-radius: 5px;
  max-width: 100%;
  text-transform: uppercase;
}
.actions li a:hover {
  text-decoration: none;
  background: #ff6a13;
  color: #fff;
}


.actions li:first-child a,
.actions li:first-child a:hover {
  background: #F2F2F2;
  border: none;
  color: #2a2a2a;
}

.actions li[aria-disabled="true"]:before {
	content: "Your must fill all fields, to be able to continue";
}

.actions li[aria-disabled="true"] a {
	display: none;
}

.last-tab {
    position: relative;
}
.booking-spinner-border{
	 margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
@media (max-width: 767px) {
	.wizard {
		height: auto;
		padding: 60px 20px 20px;
	}
	.form-row {
		display: block;
	}
	
	.actions ul {
		flex-direction: column;
		align-items: flex-end;
	}
	.actions ul li {
		margin-bottom: 20px;
	}
	.grid-item {
		width: 47%;
		display: block;
	}
	.grid-item .thumb {
		width: 100%;
	}
	.grid-item .heading {
		width: 100%;
		writing-mode: unset;
		transform: rotate(0);
		padding: 10px 0;
		font-size: 13px;
	}
}


/*# sourceMappingURL=style.css.map */